{% extends 'layout.html.twig' %}
{% block title %}{{ parent() }} Renseigner vos informations {% endblock %}

{% block body %}
<section class="container py-5">
    <h1 class="text-center">Renseigner vos informations </h1>
    <div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="text-center">
        <button class="btn btn-warning rounded-pill">{{ button_label|default('Valider') }}</button>
    </div>
    {{ form_end(form) }}
    </div>
</section>
{% endblock %}