{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }}S'inscrire{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <section class="container pt-5">
    <h1 class="text-center">S'inscrire</h1>

    {{ form_start(registrationForm) }}

        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.student) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <div class="text-center">
         <button type="submit" class="btn btn-secondary rounded-pill">S'inscrire</button>
        </div>
    {{ form_end(registrationForm) }}
    </section>
{% endblock %}
