{% extends 'layout.html.twig' %}
{% block title %}{{ parent() }} Trombinoscope {% endblock %}
{% block body %}
    <section class="pt-4">
    <h1 class="text-center mb-5">Trombinoscope</h1>
        <div class="row mx-0">
            <div class="col bg-dark d-none d-lg-block">
                <h3 class="mt-4">Filtre</h3>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="text-center">
                  <button class="btn btn-warning rounded-pill">Filtrer</button>
                </div>
                {{ form_end(form) }}
            </div>
            <div class="col-lg-10 mb-4">
                <div class="row mx-0">
                {% for student in students %}
                    <div class="col-md-6 col-lg-4 d-flex justify-content-center mb-5">
                        {% include '/include/_cardtrombi.html.twig' with {'people' : student} %}
                    </div>
                {% endfor %}
                </div>
                <div class="navigation row mx-0 justify-content-center">
                    {{ knp_pagination_render(students) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}