<div class="card border-0" style="width: 18rem;">
    <img class="card-img-top" src="{{ vich_uploader_asset(people, 'pictureFile') }}" alt="picture of {{ people.name }}">
    <div class="card-body bg-secondary text-warning  text-center">
        <h4 class="card-title ">{{people.name}}</h4>
        <h5>{{people.house.name ??  '' }}</h5>
        <h5>{{ people.subject ??  ''}}</h5>
    </div>
</div>