{% block navbar %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a href="{{ path('home_index') }}">
                <img class="navbar-brand py-0" src="{{ asset('build/poudlard-logo.png') }}" alt="poudlard logo" width="50" height="50">
            </a>
            <a class="nav-item nav-link" href="{{ path('actuality_index') }}">Actualité</a>
            <a class="nav-item nav-link" href="#">L'école</a>
            <a class="nav-item nav-link" href="{{ path('trombinoscope') }}">Trombinoscope</a>
            <a class="nav-item nav-link" href="{{path('contact')}}">Contact</a>
        </div>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_index') }}" class="nav-link btn bg-warning rounded-pill mx-3">Admin</a>
    {% endif %}
    <div class="dropdown">
        <button class="btn btn-dark dropdown-toggle text-warning" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg>
        </button>
        <div class="dropdown-menu dropdown-menu-right bg-warning " aria-labelledby="dropdownMenu2">
            {% if app.user %}
                <span class="dropdown-item-text font-weight-bold">{{ app.user.email }}</span>
                <a class="dropdown-item" href="#">Profil</a>
                <a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a>
            {% else %}
                <a class="dropdown-item" href="{{ path('app_login') }}">Se connecter</a>
            {% endif %}
        </div>
    </div>
</nav>
{% endblock %}